<div class="container ">
<div class="login-page">
    <h2>Stacked form</h2>
    <form #LoginForm="ngForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="login.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" [(ngModel)]="login.password" required>
      </div>
      <!-- <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div> -->
      <button type="submit" class="btn btn-primary"  (click)="onLoggedIn(LoginForm)">Submit</button>
    </form>
</div>
</div>
